<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body id="userListid">
<h1>Users</h1>
<ul class="list-of-users">
    <% results.forEach(function(user) {%>
        <li class="userList">
            <img class = "profilePicture" src="<%=user.profileImageUrl %>" alt = "Profile picture of user"> 
            <p class="userName"> <%= user.username %> </p>
        </li>
    <% }); %>
</ul>
<%if (next) { %>
    <button><a class="nextButton" href="<%= next %>">Next</a></button>
<% } %>
<%if (previous) { %>
    <button><a class="previousButton" href="<%= previous %>">Previous</a></button>
<% } %>
<%- include('create_user') -%>
</body>
<%- include('_footer') -%>
</html>